body {
    background-color: #96edfe;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.css {
    background: url(../img/levels/background.jpg);
    background-size: cover;
    background-position: bottom left;
    display: flex;
    align-items: flex-end;
    height: calc(100% - 40px);
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 10px;
    z-index: 1;
}

.css div {
    background-position: bottom;
}

.css-1, .css-3, .css-4, .css-6, .css-9 {
    justify-content: space-around;
}

.css-2 {
    justify-content: flex-start;
}

.ground, .css-2 .platform {
    background-color: #D39415;
    background-image: url("../img/brick.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: 40px 40px;
    height: 40px;
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    z-index: -1;
}

.css-2 .platform {
    width: 200px;
}

.css-2 .wall {
    background-color: #D39415;
    background-image: url("../img/brick.png");
    background-repeat: repeat-y;
    background-position: 0 0;
    background-size: 40px 40px;
    height: 80%;
    position: absolute;
    bottom: 40px;
    left: 160px;
    width: 40px;
}

#mario {
    background-image: url("../img/levels/mario.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    width: 80px;
    height: 100px;
    position: relative;
    top: 6px;
}

#luigi {
    background-image: url("../img/levels/luigi.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 100px;
    position: relative;
    top: 2px;
}

.goompa {
    background-image: url("../img/levels/goompa.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 50px;
    position: relative;
    top: 2px;
}

.piranha-in-tube {
    width: 60px;
}

.tube {
    background-image: url("../img/levels/tube.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 40px;
}

.piranha-plant {
    background-image: url("../img/levels/plant.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    z-index: -1;
}

.boo {
    background-image: url("../img/levels/boo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 70px;
    margin-bottom: 5px;
}

.goompas {
    height: 50px;
    width: 160px;
}

.css-5 #mario {
    margin-right: 40px;
}

.css-5 .goompa {
    margin-right: 8px;
}

.css-5 .platform {
    background-image: url(../img/levels/platform.jpg);
    position: absolute;
    background-size: contain;
    top: 100px;
    left: 125px;
    height: 29px;
    width: 150px;
}

.koopa {
    background-image: url(../img/levels/koopa.png);
    background-size: contain;
    height: 80px;
    width: 50px;
}

.css-7 {
    justify-content: space-between;
    padding: 0 5%;
}

#bowser {
    background-image: url(../img/levels/bowser.png);
    background-size: contain;
    height: 195px;
    width: 165px;
    position: relative;
    top: 2px;
}

.css-8 {
    height: 100%;
    overflow: hidden;
}

.css-8 #mario {
    margin-bottom: 30px;
    z-index: 2;
    top: 0;
}

.css-8 .ground {
    width: 80px;
    z-index: 1;
}

.css-8 .ground:last-of-type {
    left: calc(100% - 80px);
}

.css-8 .tube {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 40px;
}

.tubes {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 40px;
    width: calc(100% - 160px);
    position: absolute;
    left: 80px;
}

.css-9 {
    justify-content: flex-start;
}

.castle {
    background-image: url(../img/levels/castle-portal.png);
    background-size: contain;
    height: 50px;
    width: 80px;
    transform-origin: bottom;
    position: absolute;
    bottom: 50px;
    left: 50%;
}

.css-10 {
    background-image: url(../img/levels/castle-interior.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100%;
    justify-content: space-between;
}

.css-10 #mario {
    width: 90px;
    height: 140px;
}

#princess {
    background-image: url(../img/levels/princess-peach.png);
    background-size: contain;
    width: 70px;
    height: 140px;
}