:root {
    --marioBlue:#06c;
    --marioRed: #E52521;
    --marioYellow: #FBD000;
    --marioGreen: #3BB143;
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
    body.sign-in button {
        font-size: .6em;
        margin: 3px auto;
        padding: 5px;
        width: 250px;
    }
    .sign-in button i {
        font-size: 1em;
        margin-right: 3px;
    }   
    .sign-in h1 {
        margin-bottom: 10px;
    }
  }

@font-face {
    font-family: MarioFont;
    src: url('../fonts/SuperMario256.ttf');
}

@font-face {
    font-family: Pixeled;
    src: url('../fonts/Pixeled.ttf');
}

body {
    margin: 0;
    padding: 0;
}

body.sign-in {
    /*background: linear-gradient(rgb(108, 193, 226), rgb(4, 156, 216));*/
    background: url('../img/bg-login.jpg');
    background-size: cover;
    background-position: right bottom;
}

nav {
    background-color: var(--marioGreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    min-height: 80px;
    overflow: auto;
    padding: 0 10px;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid lightgrey;
    border-radius: 10px;
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav h1 {
    font-family: MarioFont;
    margin: 0 30px;
}

nav h1 span {
    color: var(--marioYellow);
}

nav .menu {
    display: flex;
    align-content: center;
}

nav .profile {
    display: flex;
    align-items: center;
    margin: 0 30px;
    position: relative;
}

nav .profile ul {
    display: none;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
}

nav .profile img {
    max-width: 30px;
    margin-right: 5px;
}

nav .profile li {
    display: block;
}

.sign-in button {
    background: linear-gradient(#e74938,var(--marioRed));
    border: 1px solid rgb(145, 145, 145);
    border-radius: 7px;
    color: white;
    display: block;
    font-family: Pixeled;
    font-size: .6em;
    margin: 10px auto;
    padding: 12px 15px;
    transition: all 1s linear;
    width: 250px;
}

.sign-in button:hover {
    background-color: rgb(201, 15, 12);
}

.sign-in div {
    text-align: center;
    margin: auto;
}

.sign-in h1 {
    color: white;
    font-family: MarioFont;
    margin-top: 0;
}

.sign-in h1 span {
    color: var(--marioYellow);
}

.sign-in main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 97.5vh;
}

.sign-in button i {
    font-size: 1.5em;
    margin-right: 7px;
}