:root {
    --adv-green: #008529;
    --adv-red: #d11a0e;
    --adv-yellow: #facd00;
    --adv-blue: #2f70b7;
}
@font-face {
    font-family: "Chakra Patch";
    src: url("../fonts/ChakraPetch-Regular.ttf");
}
@font-face {
    font-family: "Chakra Patch";
    src: url("../fonts/ChakraPetch-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Chakra Patch";
    src: url("../fonts/ChakraPetch-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Chakra Patch";
    src: url("../fonts/ChakraPetch-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Bold.ttf");
    font-weight: 700;
}
body {
    font-family: "Source Sans Pro", apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--adv-yellow);
    color: #000000;
    padding: .75em 1.25em;
    font-family: "Chakra Patch", sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
header a.site-title {
    text-align: center;
    text-decoration: none;
    line-height: 1;
    font-size: 1.5em;
    color: inherit;
    font-weight: 700;
    z-index: 3;
}
header a.site-title small {
    font-weight: 600;
    font-size: .85em;
}
header ul.links {
    padding: 0 0 3px 0;
    margin: 0;
    z-index: 3;
}
header ul.links li {
    display: inline;
    margin: 0 4px;
}
.button {
    font-family: "Chakra Patch", sans-serif;
    text-transform: uppercase;
    background-color: #111111;
    color: #ffffff;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 7px;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.18);
    letter-spacing: 0.04em;
    font-weight: 700;
    font-size: 0.85em;
    padding: 0.5em 1.25em;
    transition: border-color 0.1s linear, background-color 0.1s linear, color 0.1s linear;
}
.button-green {
    background-color: var(--adv-green);
}
.button-red {
    background-color: var(--adv-red);
}
.button-blue {
    background-color: var(--adv-blue);
}
.button-yellow {
    background-color: var(--adv-yellow);
}
.button:hover, .button.button-active {
    background: #ffffff;
    color: #000000;
}
.button-green:hover, .button-green.button-active {
    border-color: var(--adv-green);
    color: var(--adv-green);
}
.button-red:hover, .button-red.button-active {
    border-color: var(--adv-red);
    color: var(--adv-red);
}
.button-blue:hover, .button-blue.button-active {
    border-color: var(--adv-blue);
    color: var(--adv-blue);
}
.button-yellow:hover, .button-yellow.button-active {
    border-color: var(--adv-yellow);
    color: var(--adv-yellow);
}
.divider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.divider::after {
    background-image: url("../img/divider-brick-yellow.png");
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 30px 32px;
    height: 32px;
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    width: 100%;
    z-index: 1;
}
.divider-stone::after {
    background-image: url("../img/divider-brick-grey.png");
    background-size: 30px 30px;
    height: 30px;
    bottom: -30px;
}
footer {
    background-color: #D39415;
    background-image: url("../img/ground.jpg");
    background-position: 50% 0;
    background-repeat: repeat-x;
    background-size: 165px auto;
    height: 165px;
}
main {
    height: calc(100vh - 102px);
    margin-top: 30px;
    display: flex;
}
nav {
    height: calc(100% - 50px);
    padding: 25px;
    white-space: nowrap;
    font-weight: 600;
    text-align: center;
    position: relative;
    background-position: 50% 0%;
    background-repeat: repeat;
    background-size: 18px auto;
}
nav h1 {
    font-family: "Chakra Patch", sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    margin-top: 0;
    font-weight: 700;
    color: var(--adv-green);
}
nav.nav-green {
    background-image: url("../img/bg-grid-green.png");
}
nav.nav-green h1 {
    color: var(--adv-green);
}
nav.nav-red {
    background-image: url("../img/bg-grid-red.png");
}
nav.nav-red h1 {
    color: var(--adv-red);
}
nav.nav-blue {
    background-image: url("../img/bg-grid-blue.png");
}
nav.nav-blue h1 {
    color: var(--adv-blue);
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li + li {
    margin-top: 20px;
}
nav ul li .button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.profile {
    background: linear-gradient(180deg, #005da0, #bee1f4);
}
.profileData {
    background-image: url("../img/bg-grid-blue.png");
    background-size: 24px auto;
    border: 3px solid var(--adv-blue);
    border-radius: 30px;
    box-shadow: -4px 0px 11px 0px rgba(0, 0, 0, 0.18);
    margin: 40px auto;
    padding: 30px;
    width: 80%;
}
.profilePicture {
    border: 3px solid var(--adv-blue);
    border-radius: 50%;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.18);
    max-width: 200px;
}
.right {
    background: linear-gradient(180deg, #005da0, #bee1f4);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -4px 0px 11px 0px rgba(0, 0, 0, 0.18);
    z-index: 1;
    width: 100%;
    
}
.right a {
    color: white;
}
.right .content {
    display: flex;
    justify-content: space-around;
}
.right .codeArea {
    background-color: rgb(245,245,245);
    border: 3px solid var(--adv-yellow);
    border-radius: 14px;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.18);
    color: rgb(20,20,20);
    font-size: 1.1em;
    line-height: 1.7em;
    padding: 5px 15px 60px 15px;
    position: relative;
}
.right .codeArea a {
    position: absolute;
    bottom: 12px;
    padding: 0.1em 1em;
    right: 15px;
}
.right .codeArea input {
    border: none;
    width: 30px;
}

.right .userArea {
    padding: 25px;
    max-width: 50%;
}
.right .userArea h1 {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Chakra Patch", sans-serif;
}

.right .resultArea {
    background-color: white;
    color: black;
    border: 3px solid var(--adv-yellow);
    border-radius: 14px;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    height: 590px;
    margin: 35px 25px;
    padding: 40px;
    position: relative;
    width: 40%;
}

.resultArea#luigiStory {
    background-image: url("../img/bg-grid-green.png");
    background-size: 18px auto;
    font-size: 1.2em;
}

.resultArea#luigiStory img {
    max-width: 150px;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.resultArea#marioStory {
    background-image: url("../img/bg-mario-story.png");
    background-size: 50%;
}

.resultArea#marioStory img {
    display: inline;
    max-height: 200px;
    max-width: 200px;
    margin: 30% 5px;
}

.resultArea#marioStory .goomba {
    max-width: 100px;
}