:root {
    --adv-green: #008529;
    --adv-red: #d11a0e;
    --adv-yellow: #facd00;
    --adv-blue: #2f70b7;
}
@font-face {
    font-family: "Chakra Patch";
    src: url("../fonts/ChakraPetch-Regular.ttf");
}
@font-face {
    font-family: "Chakra Patch";
    src: url("../fonts/ChakraPetch-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Chakra Patch";
    src: url("../fonts/ChakraPetch-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Chakra Patch";
    src: url("../fonts/ChakraPetch-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Bold.ttf");
    font-weight: 700;
}
body {
    font-family: "Source Sans Pro", apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--adv-yellow);
    color: #000000;
    padding: .75em 1.25em;
    font-family: "Chakra Patch", sans-serif;
    text-transform: uppercase;
    position: relative;
}
header a.site-title {
    text-align: center;
    text-decoration: none;
    line-height: 1;
    font-size: 1.5em;
    color: inherit;
    font-weight: 700;
    z-index: 2;
}
header a.site-title small {
    font-weight: 600;
    font-size: .85em;
}
header ul.links {
    padding: 0 0 3px 0;
    margin: 0;
    z-index: 2;
}
header ul.links li {
    display: inline;
    margin: 0 4px;
}
.button {
    font-family: "Chakra Patch", sans-serif;
    text-transform: uppercase;
    background-color: #111111;
    color: #ffffff;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 7px;
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.18);
    letter-spacing: 0.04em;
    font-weight: 700;
    font-size: 0.85em;
    padding: 0.5em 1.25em;
    transition: border-color 0.1s linear, background-color 0.1s linear, color 0.1s linear;
}
.button-green {
    background-color: var(--adv-green);
}
.button-red {
    background-color: var(--adv-red);
}
.button-blue {
    background-color: var(--adv-blue);
}
.button:hover, .button.button-active {
    background: #ffffff;
    color: #000000;
}
.button-green:hover, .button-green.button-active {
    border-color: var(--adv-green);
    color: var(--adv-green);
}
.button-red:hover, .button-red.button-active {
    border-color: var(--adv-red);
    color: var(--adv-red);
}
.button-blue:hover, .button-blue.button-active {
    border-color: var(--adv-blue);
    color: var(--adv-blue);
}
.divider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.divider::after {
    background-image: url(../img/divider-brick-yellow.png);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 30px 32px;
    height: 32px;
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    width: 100%;
    z-index: 1;
}
.divider-stone::after {
    background-image: url("../img/divider-brick-grey.png");
    background-size: 30px 30px;
    height: 30px;
    bottom: -30px;
}
main {
    height: calc(100vh - 102px);
    margin-top: 30px;
    display: flex;
}
nav {
    height: 100%;
    padding: 15px 25px;
}
main section {
    padding: 15px 25px;
}